:root {
    --bg-orange: #FE4E30;
    --bg-loworange: #FB944A;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    font-size: 40px;
}

p {
    color: rgb(73, 73, 73);
    font-weight: bolder;
    width: 80%;
}

.contentsec {
    width: 50%;
}

.imagesection img {
    width: 80%;
    padding-top: 7%;
}

.leftsection {
    padding-top: 13%;
}


.leftsection .skipname {
    color: var(--bg-orange);
}

.element {
    display: flex;
    width: 90%;
    padding-left: 7%;
    padding-bottom: 150px;
}

.buttonstyle {
    color: whitesmoke;
    background-image: linear-gradient(0deg, #FE4E30, #FB944A);
    padding: 18px 50px 18px;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 3%;
    float: left;
    font-size: 20px;
    box-shadow: 1px 1px 30px #FB944A;
    transition: 0.3s;
}

.buttonstyle:hover {
    box-shadow: 1px 1px 30px #ff6e4a;
}

.secondsec {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.secondsec h1 {
    color: rgb(66, 66, 66);
    font-weight: bold;
    padding-top: 15%;
}



.recipeSection {
    background-color: white;
}

.headsection {
    text-align: center;
    background-color: white;
    padding-right: 7%;
}

.thirdimg-section img {
    width: 50%;
}

.thirdimg-section .thirdP {
    width: 80%;
}

.recipeSection {

    padding-left: 7%;
}

.texts3sec {
    text-align: center;

}

.texts3sec {
    padding-top: 0%;
}

.paragraph {
    padding-left: 10%;

}

.recipemenu {
    box-shadow: 2px 2px 20px rgb(177, 177, 177);
    border-radius: 30px;
    width: 50%;
    margin-right: 5%;
}

.contentRecipe {
    width: 100%;
    height: 590px;
    display: flex;
    margin-top: 10%;
    padding-bottom: 10%;
}



.recipemenu img {
    margin-left: 10%;
    padding-top: 9%;
}

.social-section {
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 30px 0px 30px 0px;
    margin-left: 5%;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.39);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 150px;
}

.lastsection-space {
    width: 50%;
    text-align: ;
    font-weight: bolder;

}

#firstOption {
    margin-left: 10%;
}