:root {
    --bg-orange: #FE4E30;
    --bg-loworange: #FB944A;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDD7C6;
}

h1 {
    font-size: 40px;
}

p {
    color: rgb(73, 73, 73);
    font-weight: bolder;
    width: 80%;
}

.contentsec {
    width: 50%;
}

.imagesection img {
    width: 90%;
    padding-top: 7%;
}

.leftsection {
    padding-top: 13%;
}


.leftsection .skipname {
    color: var(--bg-orange);
}

.element {
    display: flex;
    width: 90%;
    padding-left: 7%;
    padding-bottom: 150px;
}

.buttonstyle {
    color: whitesmoke;
    background-image: linear-gradient(0deg, #FE4E30, #FB944A);
    padding: 18px 50px 18px;
    text-decoration: none;
    border-radius: 60px;
    margin-top: 3%;
    float: left;
    font-size: 20px;
    box-shadow: 1px 1px 30px #FB944A;
}

.secondsec {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.secondsec h1 {
    color: rgb(66, 66, 66);
    font-weight: bold;
    padding-top: 15%;
}

.secondsec img {
    width: 80%;

}